.shop_table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.shop_table thead {
  background-color: #f9f9f9;
}

.shop_table th,
.shop_table td {
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
}

.product-remove {
  display: flex;
  align-items: center;
}

.product-remove a {
  color: #e74c3c;
  text-decoration: none;
  font-size: 20px;
}

.product-remove a:hover {
  color: #c0392b;
}

.product-thumbnail img {
  width: 60px;
  height: auto;
}

.product-name a {
  color: #333;
  text-decoration: none;
}

.product-price,
.product-subtotal {
  font-weight: bold;
}

.product-quantity input {
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.quantity-button {
  cursor: pointer;
}

.cart-container {
  display: flex;
  gap: 300px; /* Adjust gap between items as needed */
  flex-wrap: wrap;
  margin-left: 70px;
}

.cart-item {
  display: flex;
  align-items: center;
  width: 100%; /* Adjust the width as needed */
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.empty-cart-message {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 2rem;
  border-radius: 8px;
}

.sad-face-icon {
  font-size: 2rem;
  color: #ff6b6b;
  margin-bottom: 0.5rem;
}

.message-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

@media (max-width: 667px) {
  .cart-container {
    flex-direction: column;
    margin-left: 0px;
  }

  .cart-item {
    width: 100%;
    margin: 0px;
  }

  .product-remove {
    margin-left: auto;
  }
}
