/* Navbar  */
.navbar{
    background-color: #1c2331;
    padding: 0px;
  }
  .navbar .navbar-brand{
    margin-left: 4px;
  }
  
  .navbar .collapse .reglog .btn{
    margin-left: 4px;
    margin-right: 4px;
    background-color: #02CBFF;
    border: 2px solid;
    border-color: black;
    color: black;
  }
  .navbar .collapse .reglog .btn:hover {
    background: black;
    color: #02CBFF;
    box-shadow: inset 0 0 0 0.1rem #02CBFF;
  }

