.facet-option {
  list-style: none;
  margin: 10px 0;
}

.checkbox-label {
  display: flex;
  align-items: center;
  width: 100%; /* Ensure label takes the full width of the container */
}

.hidden-checkbox {
  display: none;
}

.styled-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark {
  width: 16px;
  height: 16px;
}

.checkbox-text {
  font-size: 1em;
  display: flex;
  align-items: center;
  width: calc(100% - 30px); /* Adjust width to ensure proper alignment */
  word-break: break-word; /* Ensure long text breaks into new lines */
}

/* Responsive Design */
@media (max-width: 768px) {
  .styled-checkbox {
    width: 18px; /* Slightly smaller checkboxes on medium screens */
    height: 18px;
  }

  .checkmark {
    width: 14px; /* Adjust size of checkmark */
    height: 14px;
  }

  .checkbox-text {
    font-size: 0.9em; /* Slightly smaller text on medium screens */
  }
}

@media (max-width: 576px) {
  .styled-checkbox {
    width: 16px; /* Further reduce size on small screens */
    height: 16px;
  }

  .checkmark {
    width: 12px; /* Further adjust checkmark size */
    height: 12px;
  }

  .checkbox-text {
    font-size: 0.8em; /* Further reduce text size on small screens */
    width: calc(100% - 25px); /* Adjust width for smaller checkboxes */
  }
}
