/* General Styling for Shopping and Product Containers */
.shopping-container {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    overflow-x: auto;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 80px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .product-container {
        margin-left: 40px;
    }
}

@media (max-width: 992px) {
    .shopping-container {
        flex-direction: column;
        align-items: center;
    }

    .product-container {
        margin-left: 0;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .product-container {
        gap: 10px;
    }
}

@media (max-width: 576px) {
    .shopping-container {
        align-items: flex-start;
    }
    
    .product-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
